page-AcmePublishers{
     [studio-id="AcmePublishers_Button_6135"]{
     position: absolute;
     
     margin-top:60%;
    }
    [studio-id="AcmePublishers_Button_4745"]{
     position: absolute;
     
     margin-top:40%;
    }
    [studio-id="AcmePublishers_Label_9483"]{
    font-size: 25px;
      font-weight: lighter;
    }
}